$main_slider_height: 450px;

#main-slider {
    background-color: #EEE;
    height: $main_slider_height;
    position: relative;
    margin-bottom: 30px;

    .slide {
        background-repeat: no-repeat;
        background-position: 50% 60%;
        background-size: cover;
        width: 100%;
        height: $main_slider_height;
    }

    @include media-breakpoint-only(xl) {
        #controls-desktop-wrap {
            position: relative;
        }

        #controls-desktop {
            position: absolute;
            right: 15px;
            bottom: 47px;
            z-index: 11;

            display: flex;
            align-items: center;

            .controls-prev-next {
                .control-left,
                .control-right {
                    display: block;
                    min-width: 31px;
                    height: 31px;

                    transition: transform .3s ease;
                    transform: translateZ(0);
                }

                .control-left {
                    &:hover {
                        transform: translate3d(-3px, 0, 0);
                    }
                }

                .control-right {
                    background-position: 100% 0;

                    &:hover {
                        transform: translate3d(3px, 0, 0);
                    }
                }
            }

            .carousel-indicators {
                position: static;
                margin: 0;
            }

            .carousel-indicators--desktop {
                display: flex;

                .slider-indicator {
                    position: relative;
                    cursor: pointer;
                    height: 21px;
                    width: 2px;
                    padding: 0 9px;
                    transition: transform .4s ease;
                    transform: scaleY(1);

                    &::after {
                        background-color: white;
                        content: "";
                        display: block;
                        width: 2px;
                        height: 100%;

                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 50%;

                        transform: translateX(-50%);
                        transition: background-color .4s ease;
                    }

                    &.active {
                        transform: scaleY(1.52);

                        &::after {
                            background-color: #00998f;
                        }
                    }

                    &:hover {
                        transform: scaleY(1.2);
                    }
                }
            }
        }

        .carousel-inner {
            .carousel-item {
                &::before {
                    background: linear-gradient(1turn, #000, transparent);
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 164px;
                    opacity: .8;
                    z-index: 1;
                }

                .carousel-caption {
                    left: 0;
                    bottom: 0;
                    padding: 0;
                    text-align: left;
                    display: flex;

                    .caption-legend-big {
                        background-color: #00998f;
                        display: block;
                        padding: 30px;
                        position: relative;
                        min-height: 170px;
                        margin-right: 125px;

                        &::after {
                            content: "";
                            position: absolute;
                            left: calc(100% - 1px);
                            top: 0;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 201px 78px 0 0;
                            border-color: #00998f transparent transparent;
                            pointer-events: all;
                        }

                        &__type {
                            font-size: 1.1rem;
                        }

                        &__title {
                            font-size: 3.5rem;
                            font-weight: 700;
                            line-height: 1.2;
                        }
                    }

                    .caption-info {
                        display: flex;
                        align-items: center;

                        &__item {
                            &:not(:last-child) {
                                margin-right: 80px;
                            }
                        }

                        &__tiny-title {
                            color: #c0c3c3;
                            margin-bottom: 7px;
                        }

                        &__value {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

#flats-types-slider {
    .slide-box {
        align-items: center;
        justify-content: space-between;
        height: 150px;

        &__item {
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
        }

        @include media-breakpoint-up(lg) {
            &__lg {
                display: flex;
            }

            &__item {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }

        .flat-card {
            display: grid;
            grid-template-columns: 96px 1fr;

            &__icon {
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: contain;

                display: block;
                width: 96px;
                height: 96px;
            }

            &__content {}

            &__title {
                margin-bottom: 10px;

                a {
                    color: black;
                    font-size: 1.6rem;
                    font-weight: 900;
                    line-height: 1.2;

                    &:hover {
                        color: #0baca2;
                    }
                }
            }

            &__info {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 10px;

                &--block {
                    font-size: .84rem;
                }

                &--title {
                    color: #a6a6a6;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .control-next {
        background-image: linear-gradient(to left, white, transparent);
        background-repeat: no-repeat;
        background-position: 0 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 65px;
        height: 100%;

        position: absolute;
        top: 0;
        right: -15px;
    }
}

// .carousel {
//     width: 100%;
// }

// .slide-box {
//     display: flex;
//     justify-content: space-between;
// }

// @media (min-width: 576px) and (max-width: 767.98px) {
//     .slide-box img {
//         flex: 0 0 50%;
//         max-width: 50%;
//     }
// }
//
// @media (min-width: 768px) and (max-width: 991.98px) {
//     .slide-box img {
//         flex: 0 0 33.3333%;
//         max-width: 33.3333%;
//     }
// }
//
// @media (min-width: 992px) {
//     .slide-box img {
//         flex: 0 0 25%;
//         max-width: 25%;
//     }
// }
//
// .carousel-caption {
//     background-color: rgba(0, 0, 0, 0.5);
//     padding: 20px;
//     border-radius: .5rem;
// }
// END
