// FIXME: user this styles as an example for own styling
@import "~nouislider/distribute/nouislider.css";

// Realty filters styles
.realty-filters {
    .noUi-target {
        background: white;
        width: 100%;
        height: 7px;

        &.noUi-horizontal {
            .noUi-handle {
                width: 12px;
                height: 12px;

                top: -4px !important;
                right: -5px !important;
            }
        }

        .noUi-base {
            .noUi-connects {
                .noUi-connect {
                    background: #00998f;
                }
            }

            .noUi-origin {
                .noUi-handle {
                    background: #020202;
                    border: none;
                    border-radius: 100%;
                    box-shadow: none;
                    cursor: default;

                    &::after, &::before {
                        display: none;
                    }

                    // &.noUi-handle-lower {}
                    // &.noUi-handle-upper {}

                    &:focus,
                    &:hover {
                        cursor: pointer;
                        outline: none;
                    }
                }
            }
        }
    }

    &__inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        span {
            color: #a6a6a6;
            font-size: .9rem;
            margin: 0 5px;
        }

        .filter-input {
            box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
            border: none;
            border-radius: 40px;
            padding: 3px 0 3px 13px;
            text-align: center;
            transition: box-shadow .25s ease;

            &:focus {
                box-shadow: inset 0 1px 4px rgba(0,0,0,.4);
                outline: none;
            }
        }
    }

    &__select {
        background: linear-gradient(180deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0)), #00998f;
        border: none;
        border-radius: 20px;
        color: white;
        padding: 10px 20px;
        margin: 0;

        option {
            &:disabled {
                color: black;
                font-weight: 700;
            }
        }

        &:focus {
            border-radius: 20px 20px 0 0;
            outline: none;
        }
    }
}
// END Realty filters styles
