<div class="object-card" data-sites-info-url="{% url 'object:json-object-sites-info' object_id=object.id %}">
    <div class="object-card__header">
        <div class="object-card__img" style="background-image: url('https://i.ibb.co/7tDS78z/856b97582c74edd185d730fafe0c69ef.jpg')"></div>
        <div class="object-card__header-info">
            {% if object.object_type %}
                <div class="object-card__living-quarter">{{ object.get_object_type_display }}</div>
            {% endif %}
            {% if object.city %}
                <div class="object-card__city">{{ object.get_city_display }}</div>
            {% endif %}
            {% if object.completed %}
                <div class="object-card__put-into-operation">Сдан в эксплуатацию</div>
            {% endif %}
        </div>
        <div class="object-card__emerge"></div>
    </div>
    <div class="object-card__main">
        <div class="object-card__info">
            <div class="object-card__title">
                <a href="{{ object.get_absolute_url }}">{% if object.object_type %}{{ object.get_object_type_display }} {% endif %}{{ object.name }}</a>
            </div>
            <div class="object-card__flat">
                <div class="object-card__flat--count"></div>
                <div class="object-card__flat-types"></div>
            </div>
        </div>
        <div class="object-card__features">
            {# all stuff in \layout\src\ajax\object-card.js #}
        </div>
    </div>
    <div class="object-card__footer">
        <a href="{{ object.get_absolute_url }}" class="object-card__footer-btn object-card__footer-btn--green object-card__footer-btn--about">О комплексе</a>
        <a href="" class="object-card__footer-btn object-card__footer-btn--dark object-card__footer-btn--choose-flat">Выбрать квартиру</a>
    </div>
</div>
