{% load static admin_urls %}<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% spaceless %}
        {% if request.path == '/' %}
            {% if settings.site_title %}{{ settings.site_title }}{% endif %}
        {% else %}
            {% if page_title %}{{ page_title }} | {% endif %}{% if settings.site_title %}{{ settings.site_title }}{% endif %}
        {% endif %}

        {% comment %}
            {% url 'news:list' as news_list_url %}
            {% url 'news:detail' as news_detail_url %}

            {% if news_list_url == request.path %}
                Новости ГК Монолит
            {% elif news_detail_url in request.path %}
                {{ object.title }} | Новости ГК Монолит
            {% endif %}


            {% url 'object:list' as object_list_url %}
            {% url 'object:detail' as object_detail_url %}

            {% if object_list_url == request.path %}
                Жилые и коммерческие объекты ГК Монолит
            {% elif object_detail_url in request.path %}
                {{ object.title }} | Жилые и коммерческие объекты ГК Монолит
            {% endif %}
        {% endcomment %}
    {% endspaceless %}</title>
    <meta name="description" content="{% spaceless %}
        {% if page_meta_description %}
            {{ page_meta_description }}
        {% elif not page_meta_description %}
            {{ settings.site_description }}
        {% endif %}{% endspaceless %}">
    {% spaceless %}{% include 'includes/favicons.html' %}{% endspaceless %}

    <!-- TODO: open graph tags: https://developers.facebook.com/docs/sharing/webmasters/ -->
    <!-- <meta property="og:url"         content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
    <meta property="og:title"       content="When Great Minds Don’t Think Alike" />
    <meta property="og:description" content="How much does culture influence creative thinking?" />
    <meta property="og:image"       content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" /> -->

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/1.styles.css' %}">{% endblock %}
</head>
<body class="{% block body_classes %}{% if request.path != '/' %}not-homepage{% endif %}{% endblock %}">
{% spaceless %}
    <header id="header">
        <div id="header__top">
            <div id="header__top--inner" class="container">
                <a id="ht-commercial" href="#" class="btn-green">Коммерческая недвижимость</a>
                <div id="ht-empty"></div>
                <div id="ht-contacts">
                    <a id="ht-phone" href="tel:+78003028808" title="Позвонить">
                        <span class="icon icon-14 icon-callback-white"></span>
                        <span class="phone-digits">8 (800) 302-88-08</span>
                    </a>
                    <a id="ht-callback" href="#" class="btn-green">Заказать звонок</a>
                </div>
            </div>
        </div>
        {% include 'includes/main-nav.html' %}
    </header>

    <div id="content">
        {% if request.user.is_superuser and opts %}
            <a class="edit-link" style="position: absolute; right: 15px; z-index: 10;" href="{% url opts|admin_urlname:'change' object.id %}" target="_blank">Edit</a>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    <footer id="footer">
        <div id="footer__inner" class="container">
            <div id="footer-projects" class="footer-block">
                <div class="footer-block__title">
                    <a href="{% url 'object:list' %}">Объекты</a>
                </div>
                <ul class="footer-block__menu-list">
                    {% for object in monolit_objects %}
                        <li class="footer-block__menu-item">
                            <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="footer-commercial" class="footer-block">
                <ul class="footer-block__menu-list">
                    <li class="footer-block__menu-item">
                        <a href="">Коммерческая недвижимость</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Выбор квартиры</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Как купить</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Дисконт на ремонт</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Партнерам</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Тендеры</a>
                    </li>
                </ul>
            </div>
            <div id="footer-about" class="footer-block">
                <div class="footer-block__title">
                    <a href="">О компании</a>
                </div>
                <ul class="footer-block__menu-list">
                    <li class="footer-block__menu-item">
                        <a href="">Новости</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Вакансии</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Трудовые резервы</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Контакты</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Правила обработки персональных данных</a>
                    </li>
                    <li class="footer-block__menu-item">
                        <a href="">Политика конфиденциальности</a>
                    </li>
                </ul>
            </div>
            <div id="footer-contacts" class="footer-block">
                <div id="footer-contacts__phones">
                    <a href="tel:+78003028808" title="Позвонить">8 (800) 302-88-08</a>
                    <a href="tel:+79780887858" title="Позвонить">+7 (978) 088-78-58</a>
                    <a href="tel:+73652500500" title="Позвонить">+7 (3652) 500-500</a>
                </div>
                <div id="footer-contacts__social">
                    {% if settings.site_instagram %}
                        <a href="{{ settings.site_instagram }}" target="_blank" class="icon icon-instagram footer-icon">Instagram</a>
                    {% endif %}
                    {% if settings.site_facebook %}
                        <a href="{{ settings.site_facebook }}" target="_blank" class="icon icon-facebook footer-icon">Facebook</a>
                    {% endif %}
                    {% if settings.site_vk %}
                        <a href="{{ settings.site_vk }}" target="_blank" class="icon icon-vk footer-icon">Vk</a>
                    {% endif %}
                    {% if settings.site_telegram %}
                        <a href="{{ settings.site_telegram }}" target="_blank" class="icon icon-telegram footer-icon">Telegram</a>
                    {% endif %}
                </div>
                <div id="footer-info-wrap">
                    <div id="footer-contacts__copyrights">&copy; Группа Компаний &laquo;Монолит&raquo; 2005&ndash;{% now "Y" %}</div>
                    <div id="footer-contacts__developed-in-m5">
                        <a href="https://m5-web.com" target="_blank">Программирование &ndash; m5</a>, <a href="http://idaproject.com" target="_blank" rel="nofollow">дизайн &ndash; idaproject</a>
                    </div>
                    <div id="footer-contacts__disclamer">Вся представленная на сайте информация носит ознакомительный характер и не является публичной офертой в соответствии со ст. 437 Гражданского Кодекса Российской Федерации</div>
                </div>
            </div>
        </div>
        <noscript>
            <div id="js-disabled">Сайт не может полноценно функционировать без JavaScript =(</div>
        </noscript>
    </footer>{% endspaceless %}
{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/vendors~main.js' %}"></script>
{% endblock %}
</body>
</html>
