{% load solo_tags %}
{% get_solo 'settings.SiteSettings' as site_settings %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolit</title>
</head>
<body>
    <h1>Monolit base.html</h1>

    <hr>
    <h2>{{ site_settings.site_title }}</h2>
    <h2>{{ site_settings.site_description }}</h2>
    <h2>{{ site_settings.site_email }}</h2>
    <h2>{{ site_settings.site_phone }}</h2>
    <hr>

    {% block content %}{% endblock %}
</body>
</html>
