{% load static admin_urls %}<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolit</title>
</head>
<body class="{% block body_classes %}{% if request.path != '/' %}not-homepage{% endif %}{% endblock %}">
    <h1>Monolit base.html</h1>

    {% if settings.site_title %}
        <h2>{{ settings.site_title }}</h2>
    {% endif %}
    {% if settings.site_phone %}
        <h2>{{ settings.site_phone }}</h2>
    {% endif %}
    {% if settings.site_email %}
        <h2>{{ settings.site_email }}</h2>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>
