{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} homepage
{% endspaceless %}{% endblock %}


{% block content %}
    {% include "sections/homepage/main-slider.html" %}

    <main id="main">
        <div id="page-title-h1" class="container">
            <h1><abbr title="Группа Компаний">ГК</abbr> &laquo;Монолит&raquo; &ndash; Мы строим Крым</h1>
        </div>

        {% include "sections/homepage/section-realty-homepage-filters.html" %}
        {% include "sections/homepage/section-objects-list.html" %}
        {% include "sections/homepage/section-flats-types.html" %}
    </main>

    {% include "sections/homepage/section-mortgage.html" %}
    {% include "sections/homepage/section-news.html" %}
    {% include "sections/homepage/section-about.html" %}
    {% include "sections/homepage/section-compleated-projects.html" %}
{% endblock %}
