#scroll-to-top {
    background-image: url('images/scroll-top-arrow-green.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;

    display: block;
    width: 64px;
    height: 64px;

    position: fixed;
    left: 0;
    bottom: 30%;

    text-indent: -9999px;
    opacity: .4;
    z-index: 100;
    transition: opacity ease-in-out .3s;

    @include media-breakpoint-down(md) {
        display: none;
    }

    &:hover {
        cursor: pointer;
        opacity: .9;
    }
}
