#section-compleated-projects {
    cursor: default;
    position: relative;

    @include media-breakpoint-up(lg) {
        min-height: 256px;
        height: 256px;
    }

    &__inner {
        background-color: white;
        position: relative;
        overflow: hidden;
        z-index: 2;

        @include media-breakpoint-up(lg) {
            box-shadow: 0 4px 10px rgba(0,0,0,.4);
            height: 384px;
            top: -64px;

            max-width: 1440px;
            @include make-container();
        }
    }

    &__title {
        font-size: 1.9rem;
        font-weight: 700;
        line-height: 1.2;
        width: 300px;

        position: absolute;
        top: 40px;
        left: 40px;

        z-index: 2;
    }
}
