#section-flats-list {
    background-color: #fafafa;

    &__inner {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 30px;

        grid-template-columns: repeat(4, 1fr);
    }
}
