<form action="{% url 'favorites-add' %}" method="post">{% csrf_token %}
    <input type="hidden" name="object_url" value="{{ object.get_absolute_url }}">
    <input type="hidden" name="object_name" value="{{ object.display_name_full }}">
    <input type="hidden" name="page_url" value="{{ request.path }}">

    <!-- <div class="icon icon-18 icon-heart-contour-green"></div>
    <div class="flat-card__add-to-favorites--title">В избранное</div> -->

    <button type="submit">В избранное</button>
</form>
