.icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: contain;
    display: inline-block;

    // Icon sizes
    &-14 {
        width: 14px;
        height: 14px;
    }

    &-18 {
        width: 18px;
        height: 18px;
    }

    // Icon types
    &-callback-white {
        background-image: url('images/icons/icon-callback-white.svg');
    }
    &-callback-green {
        background-image: url('images/icons/icon-callback-green.svg');
    }
    &-heart-solid {
        background-image: url('images/icons/icon-heart-solid-green.svg');
    }
    &-search {
        background-image: url('images/icons/icon-search.svg');
    }
}
