.icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: contain;
    display: inline-block;
    text-indent: -9999px;

    // Icon sizes
    &-14 {
        width: 14px;
        height: 14px;
    }

    &-18 {
        width: 18px;
        height: 18px;
    }

    // Icons
    &-callback-white {
        background-image: url('images/icons/icon-callback-white.svg');
    }
    &-callback-green {
        background-image: url('images/icons/icon-callback-green.svg');
    }
    &-heart-solid-green {
        background-image: url('images/icons/icon-heart-solid-green.svg');
    }
    &-search-green {
        background-image: url('images/icons/icon-search.svg');
    }
    &-search-green {
        background-image: url('images/icons/icon-search.svg');
    }
    &-instagram {
        background-image: url('images/icons/icon-instagram.svg');
    }
    &-facebook {
        background-image: url('images/icons/icon-facebook.svg');
    }
    &-vk {
        background-image: url('images/icons/icon-vk.svg');
    }
    &-telegram {
        background-image: url('images/icons/icon-telegram.svg');
    }

    // Arrows
    &-arrow-left-green {
        background-image: url('images/icons/arrow-left-green.svg');
    }
    &-arrow-right-green {
        background-image: url('images/icons/arrow-right-green.svg');
    }
    &-arrow-right-white {
        background-image: url('images/icons/arrow-right-white.svg');
    }
}
