.vacancy-card {
    opacity: .7;
    transition: opacity ease-in-out .3s;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &__title-wrap {
        background-color: white;
        padding: 15px;
    }

    .collapse-block__link {
        color: black;
    }

    &__title {
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__experience {
        display: block;
        margin-top: 10px;
    }

    &__descr {
        background-color: rgba(255, 255, 255, .5);
        padding: 15px;
    }

    &:hover {
        .vacancy-card__title {
            color: #00998f;
        }
    }
}
