#breadcrumbs {
    cursor: default;
    font-size: .9rem;
    margin-bottom: 30px;

    filter: grayscale(100%);
    opacity: .6;
    transition: all ease-in-out .3s;

    &:hover {
        filter: grayscale(0);
        opacity: 1;
    }

    ol.breadcrumb {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li.breadcrumb-item {
            color: #a6a6a6;

            &:not(:last-child) {
                &::after {
                    content: "/";
                    margin: 0 9px 0 7px;
                }
            }

            a {
                color: #00998f;

                &:focus,
                &:hover {
                    text-decoration: none;
                }
            }

            &.active {}
        }
    }
}
