.homepage {
    #realty-filters {
        cursor: default;
        margin-bottom: 30px;

        &__inner {
            border-radius: 5px;
            background-color: #f6f6f6;
            box-shadow: 0 5px 5px rgba(0,0,0,.1);

            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .rf-block {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 10px;

            height: 120px;
            padding: 19px 24px;

            &__title {
                text-align: center;
            }

            // &__content {}
        }

        &__rooms-block {
            .rf-block__content {
                display: flex;
                justify-content: space-between;
            }
        }

        &__square-block {
            #realty-filters__square-slider {
                &.noUi-target {
                    width: 100%;
                    height: 15px;
                }

                // &--inputs {}
                // &--input-min {}
                // &--input-max {}
            }
        }

        // &__rooms-price {}

        &__submit-block {
            background-color: #515151;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    // Homepage Sections
    .homepage-section {
        padding-top: 30px;
        padding-bottom: 30px;

        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            h2 {
                font-size: 2.5rem;
                font-weight: 700;
                margin: 0;
            }
        }

        &__title--right {
            font-weight: 400;

            a {
                color: #00998f;
                font-size: 1.2rem;

                &:focus,
                &:hover {
                    text-decoration: none;
                }
            }
        }

        &__inner {}
    }

    #complex-list-section {
        background-color: #fafafa;

        .homepage-section__inner {
            display: grid;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            grid-template-columns: repeat(4, 1fr);

            @include media-breakpoint-down(lg) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include media-breakpoint-down(sm) {
                grid-template-columns: 1fr;
            }
        }
    }
}
