$slider_height: 450px;

#slider {
    background-color: #EEE;
    height: $slider_height;
    position: relative;
    margin-bottom: 30px;

    &::before {
        background: linear-gradient(1turn, #000, transparent);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 164px;
        opacity: .8;
        z-index: 1;
    }

    .slide {
        background-repeat: no-repeat;
        background-position: 50% 60%;
        background-size: cover;
        width: 100%;
        height: $slider_height;
    }
}
