@import "bank_logos";
@import "buttons";
@import "misc";
@import "homepage";
@import "main_nav/main_nav";
@import "sliders/sliders_homepage";
@import "cards/complex_card";


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

::selection {
    background-color: rgba(0, 153, 143, .5);
    color: black;
}

#header {
    position: relative;
    height: 110px;
    width: 100%;
    z-index: 50;

    &__top {
        background: linear-gradient(180deg, rgba(0, 0, 0, .2), transparent), #545454;
        font-size: .9rem;

        &--inner {
            height: 40px;
            display: grid;
            grid-template-columns: 250px 1fr 340px;

            a {
                color: white;
                transition: color ease-in-out .2s;

                display: flex;
                align-items: center;
                justify-content: center;

                &:focus,
                &:hover {
                    color: #e6e6e6;
                    text-decoration: none;
                }
            }

            a#ht-commercial {}

            #ht-contacts {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                a#ht-phone {
                    padding-right: 25px;

                    .icon {
                        margin-right: 7px;

                        &.icon-callback-white {
                            @keyframes iconCallBackAnimation {
                                0%   {transform: rotate(0)}
                                50%  {transform: rotate(30deg)}
                                100% {transform: rotate(0)}
                            }

                            animation: iconCallBackAnimation 1.5s linear infinite;
                            animation-fill-mode: forwards;
                            animation-play-state: paused;
                        }
                    }

                    .phone-digits {
                        font-weight: 700;
                    }

                    &:focus,
                    &:hover {
                        color: #0baca2;

                        .icon-callback-white {
                            background-image: url('images/icons/icon-callback-green.svg');
                            animation-play-state: running;
                        }
                    }
                }

                a#ht-callback {}
            }

            .btn-green {
                background: linear-gradient(180deg, rgba(0, 0, 0, .4), transparent), #0baca2;
                padding: 0 25px;
            }
        }
    }

    &__bottom {
        background-color: #f6f6f6;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        height: 70px;

        &--inner {
            display: grid;
            grid-template-rows: 70px;

            @include media-breakpoint-only(xl) {
                grid-template-columns: 250px 1fr 1fr;
            }
            @include media-breakpoint-down(lg) {
                grid-template-columns: 250px 1.5fr 1fr;
            }

            a {
                &:focus,
                &:hover {
                    text-decoration: none;
                }
            }

            a#logo {
                background-image: url('images/logo-monolit-text.svg');
                background-repeat: no-repeat;
                background-position: 0 50%;
                background-size: 204px 40px;
                text-indent: -9999px;

                &:focus,
                &:hover {
                    outline: none;
                }
            }

            #main-navigation-wrap {
                @include media-breakpoint-down(lg) {
                    order: 3;
                }
            }

            #hb-aside {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 15px;
                align-items: center;

                @include media-breakpoint-only(xl) {
                    margin-left: 15px;
                }
                @include media-breakpoint-down(lg) {
                    order: 2;
                }

                // Fix for large resolution menu
                @media (min-width: 1199px) and (max-width: 1365px) {
                    display: none;
                }

                #favories,
                #search-by-id {
                    display: grid;
                    grid-template-columns: 34px 1fr;
                    grid-column-gap: 10px;
                    align-items: center;

                    // .icon {}
                    // span {}
                }

                #favories {}

                #search-by-id {
                    // Search apartment by ID form
                    .sbi-form {
                        &__input {
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid #c6c6c6;
                            font-size: .9rem;
                            padding: 0 0 3px 0;
                            margin: 0;
                            outline: none;
                            width: 100%;

                            &:focus {
                                border-bottom: 1px solid black;
                            }
                        }
                    }
                }

                .hb-aside-text {
                    cursor: default;
                    font-size: .85rem;
                    line-height: 1.2;
                }

                .icon {
                    &.rounded-34 {
                        background-size: 18px 18px;
                        background-position: 50% 50%;

                        border: 1px solid #00998f;
                        border-radius: 100%;

                        display: block;
                        width: 34px;
                        height: 34px;
                    }
                }
            }
        }
    }
}

#content {
    #main {
        #page-title-h1 {
            h1 {
                font-size: 2.7rem;
                font-weight: 700;
                margin-bottom: 30px;

                &::after {
                    background-color: #00998f;
                    content: "";
                    display: block;
                    width: 64px;
                    height: 3px;
                    margin-top: 10px;
                }

                abbr {
                    text-decoration: none;
                }
            }
        }
    }
}

#footer {
    background-color: #001312;
    color: #83877d;
    line-height: 1.2;
    padding: 100px 0 80px;

    a {
        color: white;
        transition: color ease-in-out .2s;

        &:focus,
        &:hover {
            color: #18a29b;
            text-decoration: none;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 1.5fr;
        grid-column-gap: 30px;
    }

    .footer-block {
        &__title {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }

        &__menu-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &__menu-item {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    // #footer_projects {}

    #footer-commercial {
        .footer-block__menu-item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            a {
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
    }

    // #footer-about {}

    #footer-contacts {
        &__phones {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 20px;
            margin-bottom: 30px;

            a {
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        #footer-info-wrap {
            font-size: .9rem;
            cursor: default;
        }

        &__social {
            display: grid;
            grid-template-columns: repeat(4, 50px);
            grid-column-gap: 15px;
            margin-bottom: 50px;

            .footer-icon {
                background-color: #83877d;
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: 24px auto;

                border-radius: 50%;
                display: block;
                width: 50px;
                height: 50px;
                transition: background-color .3s ease;

                &:hover {
                    background-color: #18a29b;
                }
            }
        }

        &__copyrights {
            margin-bottom: 15px;
        }

        &__developed-in-m5 {
            margin-bottom: 15px;
        }

        &__disclamer {}
    }
}
