<div id="section-realty-homepage-filters" class="container">
    <div id="section-realty-homepage-filters__inner">
        <div id="section-realty-homepage-filters__rooms-block" class="realty-filters-block">
            <div class="realty-filters-block__label">Комнат</div>
            <div class="realty-filters-block__content">
                <button type="button" class="circle-site">Ст</button>
                <button type="button" class="circle-site">1</button>
                <button type="button" class="circle-site">2</button>
                <button type="button" class="circle-site">3</button>
                <button type="button" class="circle-site">4+</button>
            </div>
        </div>
        <div id="section-realty-homepage-filters__area-block" class="realty-filters-block">
            <div class="realty-filters-block__label">Площадь</div>
            <div class="realty-filters-block__content">
                <div id="realty-filter__area-slider"></div>
                <div class="realty-filters-block__inputs">
                    <span>от</span>
                    <input id="realty-filter__area--input-min" type="number" min="35" max="245" step="1" name="" value="35">
                    <span>до</span>
                    <input id="realty-filter__area--input-max" type="number" min="35" max="245" step="1" name="" value="245">
                    <span>м<sup>2</sup></span>
                </div>
            </div>
        </div>
        <div id="section-realty-homepage-filters__price-block" class="realty-filters-block">
            <div class="realty-filters-block__label">Стоимость</div>
            <div class="realty-filters-block__content">
                <div id="realty-filter__price-slider"></div>
                <div class="realty-filters-block__inputs">
                    <span>от</span>
                    <input id="realty-filter__price--input-min" type="number" min="2919000" max="18360000" step="1000" name="" value="">
                    <span>до</span>
                    <input id="realty-filter__price--input-max" type="number" min="2919000" max="18360000" step="1000" name="" value="">
                    <span>м<sup>2</sup></span>
                </div>
            </div>
        </div>
        <div id="section-realty-homepage-filters__submit-block">
            <button type="button" name="" class="green-button">Показать <span class="realty-qty">103 квартиры</span></button>
        </div>
    </div>
</div>
