<section id="section-news" class="common-section">
    <div class="common-section__title container">
        <h2>Новости и акции</h2>
    </div>
    <div id="section-news__inner" class="container">
        <article class="news-card news-card__fixed">
            <a href="">
                <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_8836_9yL6QnN/fb65a2392a39d27b1630214b71c652ec.JPG');"></div>
                <div class="news-card__inner">
                    <div class="news-card__datetime">29 января 2019</div>
                    <h3 class="news-card__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                </div>
            </a>
            <div class="news-card__green-arr icon-arrow-right-white"></div>
        </article>
        <article class="news-card">
            <a href="">
                <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_6680-13-12-18-09-58/bce1c05e81ea26b6b3e96c5e25c0aca0.JPG');"></div>
                <div class="news-card__inner">
                    <div class="news-card__datetime">29 января 2019</div>
                    <h3 class="news-card__title">В рамках партнёрской программы ГК«Монолит» провела мероприятие «День с Застройщиком»</h3>
                </div>
            </a>
            <div class="news-card__green-arr icon-arrow-right-white"></div>
        </article>
        <article class="news-card">
            <a href="">
                <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_6680-13-12-18-09-58/bce1c05e81ea26b6b3e96c5e25c0aca0.JPG');"></div>
                <div class="news-card__inner">
                    <div class="news-card__datetime">29 января 2019</div>
                    <h3 class="news-card__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                </div>
            </a>
            <div class="news-card__green-arr icon-arrow-right-white"></div>
        </article>
        <article class="news-card">
            <a href="">
                <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_6680-13-12-18-09-58/bce1c05e81ea26b6b3e96c5e25c0aca0.JPG');"></div>
                <div class="news-card__inner">
                    <div class="news-card__datetime">29 января 2019</div>
                    <h3 class="news-card__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                </div>
            </a>
            <div class="news-card__green-arr icon-arrow-right-white"></div>
        </article>
        <article class="news-card">
            <a href="">
                <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_6680-13-12-18-09-58/bce1c05e81ea26b6b3e96c5e25c0aca0.JPG');"></div>
                <div class="news-card__inner">
                    <div class="news-card__datetime">29 января 2019</div>
                    <h3 class="news-card__title">В рамках партнёрской программы ГК«Монолит» провела мероприятие «День с Застройщиком»</h3>
                </div>
            </a>
            <div class="news-card__green-arr icon-arrow-right-white"></div>
        </article>
    </div>
</section>
