<div id="section-realty-homepage-filters" class="container">
    <div id="section-realty-homepage-filters__inner">
        <div id="section-realty-homepage-filters__rooms-block" class="realty-filters-block">
            <div class="realty-filters-block__title">Комнат</div>
            <div class="realty-filters-block__content">
                <button type="button" name="" class="circle-button">Ст</button>
                <button type="button" name="" class="circle-button">1</button>
                <button type="button" name="" class="circle-button">2</button>
                <button type="button" name="" class="circle-button">3</button>
                <button type="button" name="" class="circle-button">4+</button>
            </div>
        </div>
        <div id="section-realty-homepage-filters__square-block" class="realty-filters-block">
            <div class="realty-filters-block__title">Площадь</div>
            <div class="realty-filters-block__content">
                <div id="realty-filter__square-slider"></div>
                <div class="realty-filters-block__inputs">
                    <span>от</span>
                    <input id="realty-filter__square--input-min"  type="number" min="35" max="245" step="1" name="" value="35">
                    <span>до</span>
                    <input id="realty-filter__square--input-max"  type="number" min="35" max="245" step="1" name="" value="245">
                    <span>м<sup>2</sup></span>
                </div>
            </div>
        </div>
        <div id="section-realty-homepage-filters__price-block" class="realty-filters-block">
            <div class="realty-filters-block__title">Стоимость</div>
            <div class="realty-filters-block__content">
                <div id="realty-filter__price-slider"></div>
                <div class="realty-filters-block__inputs">
                    <span>от</span>
                    <input id="realty-filter__price--input-min"  type="number" min="2919000" max="18360000" step="1000" name="" value="">
                    <span>до</span>
                    <input id="realty-filter__price--input-max"  type="number" min="2919000" max="18360000" step="1000" name="" value="">
                    <span>м<sup>2</sup></span>
                </div>
            </div>
        </div>
        <div id="section-realty-homepage-filters__submit-block">
            <button type="button" name="" class="green-button">
                Показать <span class="realty-qty">103 квартиры</span>
            </button>
        </div>
    </div>
</div>
