{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} news
{% endspaceless %}{% endblock %}


{% block content %}
    <nav id="breadcrumbs" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'homepage' %}">Главная</a>
                </li>
                <li class="breadcrumb-item active">Новости</li>
            </ol>
        </div>
    </nav>

    <main id="main">
        <div id="page-title-h1" class="container">
            <h1>{{ page_title }}</h1>
        </div>
        <div id="section-news">
            <div id="section-news__inner" class="container">
                {% for object in object_list %}
                    {% include "news/cards/news-card.html" %}
                {% endfor %}
            </div>
        </div>
    </main>

    <div id="load-more-news" class="container">
        <button class="green-button" type="button" name="load-more-news-btn" data-next-page="{% if object_list.has_next %}{{ request.path }}?page={{ object_list.next_page_number }}{% endif %}">Загрузить ещё<span>.</span><span>.</span><span>.</span></button>
    </div>

    {% if object_list.has_previous or object_list.has_next %}
        <!-- <nav id="page-docs-pagination" class="monolit-pagination container">
            <ul class="pagination">
                {% if object_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ object_list.previous_page_number }}">&lt;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
                    </li>
                {% endif %}
                {% if object_list.number|add:'-4' > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ object_list.number|add:'-5' }}">&hellip;</a>
                    </li>
                {% endif %}
                {% for i in object_list.paginator.page_range %}
                    {% if object_list.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="{{ request.path }}?page={{ i }}">{{ i }}</a>
                        </li>
                    {% elif i > object_list.number|add:'-5' and i < object_list.number|add:'5' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if object_list.paginator.num_pages > object_list.number|add:'4' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ object_list.number|add:'5' }}">&hellip;</a>
                    </li>
                {% endif %}
                {% if object_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ object_list.next_page_number }}">&gt;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </nav> -->
    {% endif %}
{% endblock %}
