.bank-logo {
    background-repeat: no-repeat;
    background-position: 50%;
    
    min-height: 32px;

    &__rossiya {
        background-image: url('images/bank_logos/bank-rossiya.png');
    }
    &__rnkb {
        background-image: url('images/bank_logos/bank-rnkb.png');
    }
}
