{% load custom_filters %}

<div id="section-company-partnership-steps" class="common-section">
    <div id="section-company-partnership-steps__bottom" class="container">
        {% for file in object_files %}
            <div class="download-card-two">
                <div class="download-card-two__inner">
                    <div class="icon icon-document-white"></div>
                    <div class="download-card-two__name">{{ file.get_name_display }}</div>
                    <div class="download-card-two__size">{% if file.file %}{{ file.file.url|get_file_ext|upper }}{% endif %}, {% if file.file %}{{ file.file.size|bytes_to_mb }}{% endif %}</div>
                </div>
                <a href="{% if file.file %}{{ file.file.url }}{% endif %}" class="stretched-link" target="_blank" title="Скачать"></a>
            </div>
        {% endfor %}

        <!-- <div class="download-card-two">
            <div class="download-card-two__inner">
                <div class="icon icon-document-white"></div>
                <div class="download-card-two__name">Информационный буклет</div>
                <div class="download-card-two__size">PDF, 258.1 КБ</div>
            </div>
            <a href="" class="stretched-link" title="Скачать"></a>
        </div>
        <div class="download-card-two">
            <div class="download-card-two__inner">
                <div class="icon icon-document-white"></div>
                <div class="download-card-two__name">Генплан объекта недвижимости</div>
                <div class="download-card-two__size">PDF, 258.1 КБ</div>
            </div>
            <a href="" class="stretched-link" title="Скачать"></a>
        </div>
        <div class="download-card-two">
            <div class="download-card-two__inner">
                <div class="icon icon-document-white"></div>
                <div class="download-card-two__name">Коммерческое предложение</div>
                <div class="download-card-two__size">PDF, 258.1 КБ</div>
            </div>
            <a href="" class="stretched-link" title="Скачать"></a>
        </div> -->
    </div>
</div>
