<section id="section-object-video-and-panoram" class="common-section">
    <div id="section-object-video-and-panoram__inner" class="container">
        <div class="nav nav-pills" id="object-video-and-panoram-pills-tabs" role="tablist">
            <a class="nav-link active"
                id="object-video-and-panoram-pills-video-tab"
                data-toggle="pill"
                href="#object-video-and-panoram-pills-video"
                role="tab"
                aria-controls="object-video-and-panoram-pills-video"
                aria-selected="true">Видео</a>
            {% if object.webcam %}
                <a class="nav-link"
                        id="object-video-and-panoram-pills-webcam-tab"
                        data-toggle="pill"
                        href="#object-video-and-panoram-pills-webcam"
                        role="tab"
                        aria-controls="object-video-and-panoram-pills-webcam"
                        aria-selected="false">Веб-камера</a>
            {% endif %}
            {% if object.panoram %}
                <a class="nav-link"
                    id="object-video-and-panoram-pills-panoram-tab"
                    data-toggle="pill"
                    href="#object-video-and-panoram-pills-panoram"
                    role="tab"
                    aria-controls="object-video-and-panoram-pills-panoram"
                    aria-selected="false">Панорама</a>
            {% endif %}
        </div>
        <div class="tab-content" id="object-video-and-panoram-pills-tabs-сontent">
            <div class="tab-pane fade show active"
                id="object-video-and-panoram-pills-video"
                role="tabpanel"
                aria-labelledby="object-video-and-panoram-pills-video-tab">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9M9HNdeBp3c?&rel=0" allowfullscreen></iframe>
                </div>
                <br>
                <div>
                    <a data-fancybox href="https://www.youtube.com/watch?v=JbacFR_B-jw?&rel=0" class="btn btn-success">link to video 1</a>
                    <a data-fancybox href="https://www.youtube.com/watch?v=ZRTn6sS4iNY?&rel=0" class="btn btn-success">link to video 2</a>
                </div>
                <!-- <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JbacFR_B-jw?&rel=0" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZRTn6sS4iNY?&rel=0" allowfullscreen></iframe>
                </div> -->
            </div>
            {% if object.webcam %}
                <div class="tab-pane fade"
                    id="object-video-and-panoram-pills-webcam"
                    role="tabpanel"
                    aria-labelledby="object-video-and-panoram-pills-webcam-tab">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ object.webcam }}" allowfullscreen></iframe>
                    </div>
                </div>
            {% endif %}
            {% if object.panoram %}
                <div class="tab-pane fade"
                    id="object-video-and-panoram-pills-panoram"
                    role="tabpanel"
                    aria-labelledby="object-video-and-panoram-pills-panoram-tab">
                    <iframe src="{{ object.panoram }}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>
            {% endif %}
        </div>
    </div>
</section>
