<section id="section-object-genplan" class="common-section">
    <div class="common-section__title container">
        <h2>Генплан &laquo;{{ object.get_object_type_display }} {{ object.name }}&raquo;</h2>
        <span class="common-section__title--right" title="Разположение солнца в разное время светового дня относительно объекта">
            <span class="icon icon-64 icon-day-night"></span>
            <a href="#" class="scale-line">Схема инсоляции</a>
        </span>
    </div>
    <div id="section-object-genplan__image">
        {% if object.genplan %}<img src="{{ object.genplan.url }}" alt="Генплан {{ object.get_object_type_display }} {{ object.name }}">{% endif %}
    </div>
</section>
