<div id="section-building-progress-and-news"class="common-section">
    <div id="section-building-progress-and-news__inner" class="container">
        <div class="nav nav-pills" id="bp-and-news-pills-tabs" role="tablist">
            <a class="nav-link active"
                id="bp-and-news-pills-building-progress-tab"
                data-toggle="pill"
                href="#bp-and-news-pills-building-progress"
                role="tab"
                aria-controls="bp-and-news-pills-building-progress"
                aria-selected="true">Ход строительства</a>
            <a class="nav-link"
                id="bp-and-news-pills-news-tab"
                data-toggle="pill"
                href="#bp-and-news-pills-news"
                role="tab"
                aria-controls="bp-and-news-pills-news"
                aria-selected="false">Новости</a>
        </div>
        <div class="tab-content" id="bp-and-news-pills-tabs-content">
            <div class="tab-pane fade show active"
                id="bp-and-news-pills-building-progress"
                role="tabpanel"
                aria-labelledby="bp-and-news-pills-building-progress-tab">
                <!-- <select>
                    <option>Март 2019</option>
                    <option>Февраль 2019</option>
                    <option>Январь 2019</option>
                    <option>Декабрь 2018</option>
                    <option>Ноябрь 2018</option>
                    <option>Октябрь 2018</option>
                    <option>Сентябрь 2018</option>
                </select> -->
                {% if object_galleries %}
                    <form method="GET">
                        <select name="gallery_id">
                            {% for gallery in object_galleries %}
                                <option value="{{ gallery.id }}">{{ gallery }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                    <br><br>
                {% endif %}

                <div id="bp-and-news-pills-building-progress__inner">
                    {% for gallery_img in object_galleries_images %}
                        <a data-fancybox="bp-gallery"
                            data-caption="[{{ gallery_img.gallery.object.get_object_type_display }} {{ gallery_img.gallery.object.name }}] {{ gallery_img.gallery.name }}"
                            class="bp-card"
                            href="{{ gallery_img.image.url }}"
                            style="background-image: url('{{ gallery_img.image.url }}');">
                            <div class="bp-card__date">{{ gallery_img.gallery.name }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade"
                id="bp-and-news-pills-news"
                role="tabpanel"
                aria-labelledby="bp-and-news-pills-news-tab">
                <div id="bp-and-news-pills-news__inner">
                    <article class="news-card">
                        <a href="">
                            <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_6680-13-12-18-09-58/bce1c05e81ea26b6b3e96c5e25c0aca0.JPG');"></div>
                            <div class="news-card__inner">
                                <div class="news-card__datetime">29 января 2019</div>
                                <h3 class="news-card__title">В рамках партнёрской программы ГК«Монолит» провела мероприятие «День с Застройщиком»</h3>
                            </div>
                        </a>
                        <div class="news-card__green-arr icon-arrow-right-white"></div>
                    </article>
                    <article class="news-card">
                        <a href="">
                            <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_6680-13-12-18-09-58/bce1c05e81ea26b6b3e96c5e25c0aca0.JPG');"></div>
                            <div class="news-card__inner">
                                <div class="news-card__datetime">29 января 2019</div>
                                <h3 class="news-card__title">В рамках партнёрской программы ГК«Монолит» провела мероприятие «День с Застройщиком»</h3>
                            </div>
                        </a>
                        <div class="news-card__green-arr icon-arrow-right-white"></div>
                    </article>
                    <article class="news-card">
                        <a href="">
                            <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_6680-13-12-18-09-58/bce1c05e81ea26b6b3e96c5e25c0aca0.JPG');"></div>
                            <div class="news-card__inner">
                                <div class="news-card__datetime">29 января 2019</div>
                                <h3 class="news-card__title">В рамках партнёрской программы ГК«Монолит» провела мероприятие «День с Застройщиком»</h3>
                            </div>
                        </a>
                        <div class="news-card__green-arr icon-arrow-right-white"></div>
                    </article>
                    <article class="news-card">
                        <a href="">
                            <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_6680-13-12-18-09-58/bce1c05e81ea26b6b3e96c5e25c0aca0.JPG');"></div>
                            <div class="news-card__inner">
                                <div class="news-card__datetime">29 января 2019</div>
                                <h3 class="news-card__title">В рамках партнёрской программы ГК«Монолит» провела мероприятие «День с Застройщиком»</h3>
                            </div>
                        </a>
                        <div class="news-card__green-arr icon-arrow-right-white"></div>
                    </article>
                    <article class="news-card">
                        <a href="">
                            <div class="news-card__image" style="background-image: url('http://monolit.site/media/CACHE/images/press/news/preview/img_6680-13-12-18-09-58/bce1c05e81ea26b6b3e96c5e25c0aca0.JPG');"></div>
                            <div class="news-card__inner">
                                <div class="news-card__datetime">29 января 2019</div>
                                <h3 class="news-card__title">В рамках партнёрской программы ГК«Монолит» провела мероприятие «День с Застройщиком»</h3>
                            </div>
                        </a>
                        <div class="news-card__green-arr icon-arrow-right-white"></div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
