{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} mortgage
{% endspaceless %}{% endblock %}


{% block content %}
    <nav id="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'homepage' %}">Главная</a>
                </li>
                <li class="breadcrumb-item active">{{ page_tite }}</li>
            </ol>
        </div>
    </nav>

    <main id="main">
        <div id="page-title-h1" class="container">
            <h1>{{ page_tite }}</h1>
        </div>

        {% if mortgage_offers %}
            <div id="section-mortgage" class="common-section">
                <div id="section-mortgage__inner" class="container">
                    {% for object in mortgage_offers %}
                        {% include 'mortgage/cards/mortgage-card.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% include 'mortgage/sections/mortgage-types-and-application.html' %}
    </main>
{% endblock %}
