{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} flats
{% endspaceless %}{% endblock %}


{% block content %}
    <nav id="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'homepage' %}">Главная</a>
                </li>
                <li class="breadcrumb-item active">{{ page_title }}</li>
            </ol>
        </div>
    </nav>

    <main id="main">
        <div id="page-title-h1" class="container">
            <h1>{{ page_title }}</h1>
        </div>

        <div id="section-family-types-filters" class="container">
            <div id="section-family-types-filters__top">
                <span>Выберите тип семьи</span>
            </div>
            <div id="section-family-types-filters__inner">
                <div class="filter_family">
                    <div class="filter_family__circle">
                        <div class="filter_family__circle">
                            <div class="family-type family-young-alone"></div>
                        </div>
                    </div>
                    <div class="filter_family__name">Одинокий молодой</div>
                </div>
                <div class="filter_family">
                    <div class="filter_family__circle">
                        <div class="filter_family__circle">
                            <div class="family-type family-adult-alone"></div>
                        </div>
                    </div>
                    <div class="filter_family__name">Взрослый холостой</div>
                </div>
                <div class="filter_family">
                    <div class="filter_family__circle">
                        <div class="filter_family__circle">
                            <div class="family-type family-young-couple"></div>
                        </div>
                    </div>
                    <div class="filter_family__name">Молодая пара</div>
                </div>
                <div class="filter_family">
                    <div class="filter_family__circle">
                        <div class="filter_family__circle">
                            <div class="family-type family-adult-couple"></div>
                        </div>
                    </div>
                    <div class="filter_family__name">Взрослая пара</div>
                </div>
                <div class="filter_family">
                    <div class="filter_family__circle">
                        <div class="filter_family__circle">
                            <div class="family-type family-parents-with-child"></div>
                        </div>
                    </div>
                    <div class="filter_family__name">Семья с 1 ребенком</div>
                </div>
                <div class="filter_family">
                    <div class="filter_family__circle">
                        <div class="filter_family__circle">
                            <div class="family-type family-with-children"></div>
                        </div>
                    </div>
                    <div class="filter_family__name">Семья с 2 детьми</div>
                </div>
                <div class="filter_family">
                    <div class="filter_family__circle">
                        <div class="filter_family__circle">
                            <div class="family-type family-with-three-children"></div>
                        </div>
                    </div>
                    <div class="filter_family__name">Семья с 3 детьми</div>
                </div>
                <div class="filter_family">
                    <div class="filter_family__circle">
                        <div class="family-type family-with-children-and-elder"></div>
                    </div>
                    <div class="filter_family__name">Большая семья</div>
                </div>
            </div>
        </div>

        <div id="section-realty-flats-filters" class="container">
            <div id="section-realty-flats-filters__inner">
                <div id="section-realty-flats-filters__inner-top">
                    <div id="section-realty-flats-filters__rooms-block" class="realty-filters-block">
                        <div class="realty-filters-block__title">Комнат</div>
                        <div class="realty-filters-block__content">
                            <button type="button" name="" class="circle-button">Ст</button>
                            <button type="button" name="" class="circle-button">1</button>
                            <button type="button" name="" class="circle-button">2</button>
                            <button type="button" name="" class="circle-button">3</button>
                            <button type="button" name="" class="circle-button">4+</button>
                        </div>
                    </div>
                    <div id="section-realty-flats-filters__square-block" class="realty-filters-block">
                        <div class="realty-filters-block__title">Площадь</div>
                        <div class="realty-filters-block__content">
                            <div id="realty-filter__square-slider"></div>
                            <div class="realty-filters-block__inputs">
                                <span>от</span>
                                <input id="realty-filter__square--input-min" class="filter-input" type="number" min="35" max="245" step="1" name="" value="35">
                                <span>до</span>
                                <input id="realty-filter__square--input-max" class="filter-input" type="number" min="35" max="245" step="1" name="" value="245">
                                <span>м<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                    <div id="section-realty-flats-filters__price-block" class="realty-filters-block">
                        <div class="realty-filters-block__title">Стоимость</div>
                        <div class="realty-filters-block__content">
                            <div id="realty-filter__price-slider"></div>
                            <div class="realty-filters-block__inputs">
                                <span>от</span>
                                <input id="realty-filter__price--input-min" class="filter-input" type="number" min="2919000" max="18360000" step="1000" name="" value="">
                                <span>до</span>
                                <input id="realty-filter__price--input-max" class="filter-input" type="number" min="2919000" max="18360000" step="1000" name="" value="">
                                <span>м<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="section-realty-flats-filters__inner-bottom">
                    <div class="realty-filters-block">
                        <div class="realty-filters-block__title">Комплекс</div>
                        <div class="realty-filters-block__content">
                            <select class="realty-filters-block__select">
                                <option selected>Все комплексы</option>
                                <option>Лаванда</option>
                                <option>Таврический</option>
                                <option>Золотые пески</option>
                                <option>Status House</option>
                                <option>Континент</option>
                                <option>на ул. Павленко</option>
                                <option>на ул. Беспалова</option>
                                <option>на ул. Балаклавской</option>
                            </select>
                        </div>
                    </div>
                    <div class="realty-filters-block">
                        <div class="realty-filters-block__title">Секция</div>
                        <div class="realty-filters-block__content">
                            <select class="realty-filters-block__select">
                                <option selected>Все секции</option>
                                <option disabled>Лаванда</option>
                                <option>Секция 1</option>
                                <option>Секция 2</option>
                                <option>Секция 3</option>
                                <option disabled>Таврический</option>
                                <option>Секция 1</option>
                                <option>Секция 2</option>
                                <option>Секция 3</option>
                                <option disabled>Золотые пески</option>
                                <option>Секция 1</option>
                                <option>Секция 2</option>
                                <option>Секция 3</option>
                                <option disabled>Status House</option>
                                <option>Секция 1</option>
                                <option>Секция 2</option>
                                <option>Секция 3</option>
                                <option disabled>Континент</option>
                                <option>Секция 1</option>
                                <option>Секция 2</option>
                                <option>Секция 3</option>
                                <option disabled>на ул. Павленко</option>
                                <option>Секция 1</option>
                                <option>Секция 2</option>
                                <option>Секция 3</option>
                                <option disabled>на ул. Беспалова</option>
                                <option>Секция 1</option>
                                <option>Секция 2</option>
                                <option>Секция 3</option>
                                <option disabled>на ул. Балаклавской</option>
                                <option>Секция 1</option>
                                <option>Секция 2</option>
                                <option>Секция 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="realty-filters-block">
                        <div class="realty-filters-block__title">Город</div>
                        <div class="realty-filters-block__content">
                            <select class="realty-filters-block__select">
                                <option selected>Все</option>
                                <option>Симферополь</option>
                                <option>Ялта</option>
                                <option>Евпатория</option>
                                <option>Алушта</option>
                            </select>
                        </div>
                    </div>
                    <div class="realty-filters-block">
                        <div class="realty-filters-block__title">Год сдачи</div>
                        <div class="realty-filters-block__content">
                            <select class="realty-filters-block__select">
                                <option selected>Все</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                            </select>
                        </div>
                    </div>
                    <div class="realty-filters-block">
                        <div class="realty-filters-block__title">Этаж</div>
                        <div class="realty-filters-block__content">
                            <div id="realty-filter__floor-slider"></div>
                            <div class="realty-filters-block__inputs">
                                <span>от</span>
                                <input id="realty-filter__floor--input-min" class="filter-input" type="number" min="2" max="17" step="1" name="" value="2">
                                <span>до</span>
                                <input id="realty-filter__floor--input-max" class="filter-input" type="number" min="35" max="17" step="1" name="" value="17">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section-realty-flats-filters__bottom">
                <button type="button" name="" class="green-button">Показать <span class="realty-qty">103 квартиры</span></button>
            </div>
        </div>

        {% if object_list %}
            <div id="section-flats-list" class="common-section">
                <!-- <div class="common-section__title container">
                    <h2>8 объектов в продаже</h2>
                    <span class="common-section__title--right">
                        <a href="#" class="scale-line">Реализованные объекты</a>
                    </span>
                </div> -->
                <div id="section-flats-list__inner" class="container">
                    {% for object in object_list %}
                        {% include 'realty/cards/flat-card.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}
