{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} object-page
{% endspaceless %}{% endblock %}


{% block content %}
    <main id="main">
        {% include 'realty/object_detail-sections/section-object-page-main-info.html' %}

        {% include 'realty/object_detail-sections/section-flats-types.html' %}

        {% include 'realty/object_detail-sections/section-building-progress-and-news.html' %}

        {% include 'realty/object_detail-sections/section-object-description.html' %}

        {% include 'realty/object_detail-sections/section-object-info.html' %}

        {% include 'realty/object_detail-sections/section-object-files.html' %}

        {% include 'realty/object_detail-sections/section-object-downloads.html' %}

        {% include 'realty/object_detail-sections/section-object-genplan.html' %}

        <!-- TODO: map -->
        <!-- <div id="section-object-infrastructure">
            <div style="background-color: #CCC; display: block; min-height: 600px; width: 100%;"></div>
        </div> -->

        {% include 'realty/object_detail-sections/section-object-parking-storages.html' %}

        {% include 'realty/object_detail-sections/section-object-special-offers.html' %}

        {% include 'realty/object_detail-sections/section-object-video-and-panoram.html' %}

        <section id="section-flat-page-mortgage" class="common-section">
            <div class="common-section__title container">
                <h2>Ипотека в &laquo;{{ page_title }}&raquo;</h2>
            </div>
            <div class="common-section__inner container">
                <div id="section-flat-page-mortgage__offers">
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="mortgage-offer__best-offer">Лучшее предложение</div>
                            <div class="bank-logo bank-logo__rnkb"></div>
                        </div>
                        <div class="mortgage-offer__descr">Ипотека с государственной поддержкой</div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">6%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 20%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">до 25 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">18700 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rossiya"></div>
                        </div>
                        <div class="mortgage-offer__descr">"Новые метры"</div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 9%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 15%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">3 - 25 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">22400 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rossiya"></div>
                        </div>
                        <div class="mortgage-offer__descr">Военная ипотека</div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 9%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 20%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">1 - 20 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">22400 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rnkb"></div>
                        </div>
                        <div class="mortgage-offer__descr">Военная ипотека</div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 9.5%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 10%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">3 - 20 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">23100 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rnkb"></div>
                        </div>
                        <div class="mortgage-offer__descr">"Новостройка"</div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 9.5%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 10%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">3 - 20 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">23100 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rnkb"></div>
                        </div>
                        <div class="mortgage-offer__descr">"Простая ипотека"<br>Только паспорт и СНИЛС</div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 12.5%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 35%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">3 - 25 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">27300 руб.</div>
                        </div>
                    </div>
                </div>
                <div id="section-flat-page-mortgage__request">
                    <a href="" class="green-button">Оформить заявку на ипотеку</a>
                </div>
            </div>
        </section>

        {% include 'realty/object_detail-sections/section-other-objects.html' %}
    </main>
{% endblock %}
