{% extends 'base.html' %}

{% load custom_filters %}

{% block body_classes %}{% spaceless %}
    {{ block.super }} flat-page
{% endspaceless %}{% endblock %}


{% block content %}
    <nav id="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'homepage' %}">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'object:site-list' %}">Выбор недвижимости</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'object:detail' slug=object.object.slug %}">{% spaceless %}
                        {% if object.object.object_type %}{{ object.object.get_object_type_display }} {% endif %}{{ object.object.name }}
                    {% endspaceless %}</a>
                </li>
                {% if object.object_section %}
                    <li class="breadcrumb-item">{{ object.object_section }}</li>
                {% endif %}
                {% if object.site_type %}
                    <li class="breadcrumb-item">{{ object.get_site_type_display }}</li>
                {% endif %}
                {% if object.floor %}
                    <li class="breadcrumb-item">Этаж {{ object.floor }}</li>
                {% endif %}
            </ol>
        </div>
    </nav>

    <main id="main">
        <div id="section-flat-page-content" class="container" data-object-site="{% url 'api:site-info' site_id=object.id %}">
            <div id="section-flat-page-content__left">
                {% if object.image_planning %}
                    <div id="section-flat-page-content__tabs">
                        <div class="nav nav-pills" id="flat-pills-tabs" role="tablist">
                            {% if object.image_planning %}
                                <a class="nav-link active" id="flat-pills-layout-tab" data-toggle="pill" href="#flat-pills-layout" role="tab" aria-controls="flat-pills-layout" aria-selected="true">Планировка</a>
                            {% endif %}
                            {% if object.image_planning3d %}
                                <a class="nav-link" id="flat-pills-layout-3d-tab" data-toggle="pill" href="#flat-pills-layout-3d" role="tab" aria-controls="flat-pills-layout-3d" aria-selected="false">Планировка 3D</a>
                            {% endif %}
                            {% if object.image_floor %}
                                <a class="nav-link" id="flat-pills-floor-tab" data-toggle="pill" href="#flat-pills-floor" role="tab" aria-controls="flat-pills-floor" aria-selected="false">Этаж</a>
                            {% endif %}
                            {% if object.image_section %}
                                <a class="nav-link" id="flat-pills-section-tab" data-toggle="pill" href="#flat-pills-section" role="tab" aria-controls="flat-pills-section" aria-selected="false">Секция</a>
                            {% endif %}
                            {% if object.image_section_in_object %}
                                <a class="nav-link" id="flat-pills-house-tab" data-toggle="pill" href="#flat-pills-house" role="tab" aria-controls="flat-pills-house" aria-selected="false">Дом</a>
                            {% endif %}
                            {% if object.image_genplan %}
                                <a class="nav-link" id="flat-pills-genplan-tab" data-toggle="pill" href="#flat-pills-genplan" role="tab" aria-controls="flat-pills-genplan" aria-selected="false">Генплан</a>
                            {% endif %}
                        </div>
                        <div class="tab-content" id="flat-pills-tabs-content">
                            {% if object.image_planning %}
                                <div class="tab-pane fade show active" id="flat-pills-layout" role="tabpanel" aria-labelledby="flat-pills-layout-tab">
                                    <div class="tab-pane__img" style="background-image: url('{{ object.image_planning.url }}');"></div>
                                </div>
                            {% endif %}
                            {% if object.image_planning3d %}
                                <div class="tab-pane fade" id="flat-pills-layout-3d" role="tabpanel" aria-labelledby="flat-pills-layout-3d-tab">
                                    <div class="tab-pane__img" style="background-image: url('{{ object.image_planning3d.url }}');"></div>
                                </div>
                            {% endif %}
                            {% if object.image_floor %}
                                <div class="tab-pane fade" id="flat-pills-floor" role="tabpanel" aria-labelledby="flat-pills-floor-tab">
                                    <div class="tab-pane__img" style="background-image: url('{{ object.image_floor.url }}');"></div>
                                </div>
                            {% endif %}
                            {% if object.image_section %}
                                <div class="tab-pane fade" id="flat-pills-section" role="tabpanel" aria-labelledby="flat-pills-section-tab">
                                    <div class="tab-pane__img" style="background-image: url('{{ object.image_section.url }}');"></div>
                                </div>
                            {% endif %}
                            {% if object.image_section_in_object %}
                                <div class="tab-pane fade" id="flat-pills-house" role="tabpanel" aria-labelledby="flat-pills-house-tab">
                                    <div class="tab-pane__img" style="background-image: url('{{ object.image_section_in_object.url }}');"></div>
                                </div>
                            {% endif %}
                            {% if object.image_genplan %}
                                <div class="tab-pane fade" id="flat-pills-genplan" role="tabpanel" aria-labelledby="flat-pills-genplan-tab">
                                    <div class="tab-pane__img" style="background-image: url('{{ object.image_genplan.url }}');"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div id="section-flat-page-content__right">
                <div id="flat-id">ID: {{ object.crm_id }}</div>
                <div id="page-title-h1">
                    <h1>{{ page_title }}</h1>
                </div>
                <div id="flat-params" class="flat-content-block">
                    {% if object.rooms_qty %}
                        <div class="flat-params-block">
                            <div class="flat-params-block__name">Комнат</div>
                            <div class="flat-params-block__val">{{ object.get_rooms_qty_display }}</div>
                        </div>
                    {% endif %}
                    {% if object.floor %}
                        <div class="flat-params-block">
                            <div class="flat-params-block__name">Этаж</div>
                            <div class="flat-params-block__val">
                                <span class="flat-floor">{{ object.floor }}</span>
                                <span class="last-floor">{% if object.object_section.floor_last %}/{{ object.object_section.floor_last }}{% endif %}</span>
                            </div>
                        </div>
                    {% endif %}
                    {% if object.ceiling_height %}
                        <div class="flat-params-block">
                            <div class="flat-params-block__name">Выстота потолка</div>
                            <div class="flat-params-block__val">{{ object.ceiling_height|format_number }} м</div>
                        </div>
                    {% endif %}
                    {% if object.site_area %}
                        <div class="flat-params-block">
                            <div class="flat-params-block__name">Общая площадь</div>
                            <div class="flat-params-block__val">{{ object.site_area|format_number }} м<sup>2</sup></div>
                        </div>
                    {% endif %}
                    {% if object.living_area %}
                        <div class="flat-params-block">
                            <div class="flat-params-block__name">Жилая площадь</div>
                            <div class="flat-params-block__val">{{ object.living_area|format_number }} м<sup>2</sup></div>
                        </div>
                    {% endif %}
                    {% if object.kitchen_area %}
                        <div class="flat-params-block">
                            <div class="flat-params-block__name">Площадь кухни</div>
                            <div class="flat-params-block__val">{{ object.kitchen_area|format_number }} м<sup>2</sup></div>
                        </div>
                    {% endif %}
                </div>

                {% if object.site_number or object.two_levels or object.entresol or object.wardrobe or object.finish_type or object.window_view.count > 0 or bathrooms or balconies or elevators %}
                    <div id="flat-params-secondary" class="flat-content-block">
                        <div class="h4">Доп информация</div>
                        <div id="flat-params-secondary__inner">
                            {% if object.site_number %}
                                <div class="flat-params-block">
                                    <div class="flat-params-block__name">Номер квартиры</div>
                                    <div class="flat-params-block__val">{{ object.site_number }}</div>
                                </div>
                            {% endif %}
                            {% if object.two_levels %}
                                <div class="flat-params-block">
                                    <div class="flat-params-block__name">Два уровня</div>
                                    <div class="flat-params-block__val">&#10004;</div>
                                </div>
                            {% endif %}
                            {% if object.entresol %}
                                <div class="flat-params-block">
                                    <div class="flat-params-block__name">Антресоль</div>
                                    <div class="flat-params-block__val">&#10004;</div>
                                </div>
                            {% endif %}
                            {% if object.wardrobe %}
                                <div class="flat-params-block">
                                    <div class="flat-params-block__name">Гардеробная</div>
                                    <div class="flat-params-block__val">&#10004;</div>
                                </div>
                            {% endif %}
                            {% if object.finish_type %}
                                <div class="flat-params-block">
                                    <div class="flat-params-block__name">Отделка</div>
                                    <div class="flat-params-block__val">{{ object.get_finish_type_display }}</div>
                                </div>
                            {% endif %}
                            {% if object.window_view.count > 0 %}
                                <div class="flat-params-block">
                                    <div class="flat-params-block__name">Вид</div>
                                    <div class="flat-params-block__val">{{ object.window_view.all|join:', ' }}</div>
                                </div>
                            {% endif %}
                            {% if bathrooms %}
                                <div class="flat-params-block">
                                    <div class="flat-params-block__name">Санузел</div>
                                    <div class="flat-params-block__val">
                                        {% for bath in bathrooms %}
                                            {{ bath.bathroom_qty }} {{ bath.get_bathroom_type_display }}<br>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if balconies %}
                                <div class="flat-params-block">
                                    <div class="flat-params-block__name">Балконы</div>
                                    <div class="flat-params-block__val">
                                        {% for balcony in balconies %}
                                            {{ balcony.balcony_qty }} {{ balcony.get_balcony_type_display }}<br>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if elevators %}
                                <div class="flat-params-block">
                                    <div class="flat-params-block__name">Лифт</div>
                                    <div class="flat-params-block__val">
                                        {% for elevator in elevators %}
                                            {{ elevator.elevator_qty }} {{ elevator.get_elevator_type_display }}<br>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if object.price_per_square and object.price_total %}
                    <div id="flat-price" class="flat-content-block--flex">
                        <div id="flat-price__per-meter" class="flat-price-block">
                            <div class="flat-price-block__name">Стоимость кв. метра</div>
                            <div class="flat-price-block__val">{{ object.price_per_square|format_and_round_number }} руб/м<sup>2</sup></div>
                        </div>
                        <div id="flat-price__total" class="flat-price-block">
                            <div class="flat-price-block__name">Стоимость квартиры</div>
                            <div class="flat-price-block__val">{{ object.price_total|format_and_round_number }} руб</div>
                        </div>
                    </div>
                {% endif %}

                <div id="flat-actions" class="flat-content-block--grid">
                    <div id="flat-actions__book-flat" class="flat-actions-block">
                        <button class="green-button">Забронировать квартиру</button>
                    </div>
                    <div id="flat-actions__actions-panel" class="flat-actions-block--flex-end">
                        <ul>
                            <li>
                                <a href=""><span class="icon icon-32 icon-heart-contour-green"></span> Добавить в избранное</a>
                            </li>
                            <li>
                                <a href="" target="_blank" title="Откроется в новой вкладке"><span class="icon icon-32 icon-print-solid-green"></span> Распечатать в PDF</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="section-flat-page-map" class="flat-page-section">
        <div class="flat-page-section__title container">Что находится рядом</div>
        <div id="section-flat-page-map__holder" class="flat-page-section__content"></div>
    </div>

    {% include 'realty/objectsite_detail-sections/section-flat-page-mortgage.html' %}

    {% include 'realty/objectsite_detail-sections/section-flat-page-simular-flats.html' %}

{% endblock %}
