{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} flats
{% endspaceless %}{% endblock %}


{% block content %}
    <nav id="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'homepage' %}">Главная</a>
                </li>
                <li class="breadcrumb-item active">{{ page_title }}</li>
            </ol>
        </div>
    </nav>

    <main id="main">
        <div id="page-title-h1" class="container">
            <h1>{{ page_title }}</h1>
        </div>

        {% include 'realty/objectsite_list-sections/section-family-types-filters.html' %}

        {% include 'realty/objectsite_list-sections/section-realty-flats-filters.html' %}

        {% if object_list %}
            <div id="section-flats-list" class="common-section">
                <!-- <div class="common-section__title container">
                    <h2>8 объектов в продаже</h2>
                    <span class="common-section__title--right">
                        <a href="#section-compleated-projects" class="scale-line">Реализованные объекты</a>
                    </span>
                </div> -->
                <div id="section-flats-list__inner" class="container">
                    {% for object in object_list %}
                        {% include 'realty/cards/flat-card.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}
