{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} object-page
{% endspaceless %}{% endblock %}


{% block content %}
    <main id="main">
        <section id="section-object-page-main-info" style="background-image: url('{% if object.main_image %}{{ object.main_image.url }}{% endif %}');">
            <div id="section-object-page-main-info__stats">
                <div class="stats-item">
                    <div class="stats-item__label">Площадь</div>
                    <div class="stats-item__val">
                        <!-- TODO: get from object sites -->
                        <small>от</small> 62 <small>до</small> 98.45 <small>м<sup>2</sup></small>
                    </div>
                </div>
                <div class="stats-item">
                    <div class="stats-item__label">Стоимость</div>
                    <div class="stats-item__val">
                        <!-- TODO: get from object sites -->
                        <small>от</small> 3 638 226 <small>руб.</small>
                    </div>
                </div>
            </div>
            <div id="section-object-page-main-info__h1-title">
                <h1>
                    <div id="section-object-page-main-info__h1-title--type">
                        {{ object.get_object_type_display }}
                    </div>
                    <div id="section-object-page-main-info__h1-title--name">
                        {{ object.name }}
                    </div>
                </h1>
            </div>
        </section>

        <div id="section-flats-types">
            <div id="section-flats-types__inner" class="container">
                <div id="section-flats-types__bottom">
                    <div class="flat-type-card">
                        <div class="flat-type-card__icon" style="background-image: url('http://monolit.site/static/images/studio.6031014a5ce2.png');"></div>
                        <div class="flat-type-card__content">
                            <div class="flat-type-card__title">
                                <a href="">Студии</a>
                            </div>
                            <div class="flat-type-card__info">
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Площадь</div>
                                    <div class="">
                                        от 44.7 до 44.7 м<sup>2</sup>
                                    </div>
                                </div>
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Стоимость</div>
                                    <div class="">
                                        от 5.4 млн руб.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flat-type-card">
                        <div class="flat-type-card__icon" style="background-image: url('http://monolit.site/static/images/1room.f3fd59d167cd.png');"></div>
                        <div class="flat-type-card__content">
                            <div class="flat-type-card__title">
                                <a href="">1 комнатные</a>
                            </div>
                            <div class="flat-type-card__info">
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Площадь</div>
                                    <div class="">
                                        от 44.7 до 44.7 м<sup>2</sup>
                                    </div>
                                </div>
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Стоимость</div>
                                    <div class="">
                                        от 5.4 млн руб.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flat-type-card">
                        <div class="flat-type-card__icon" style="background-image: url('http://monolit.site/static/images/2room.eda257dede73.png');"></div>
                        <div class="flat-type-card__content">
                            <div class="flat-type-card__title">
                                <a href="">2 комнатные</a>
                            </div>
                            <div class="flat-type-card__info">
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Площадь</div>
                                    <div class="">
                                        от 44.7 до 44.7 м<sup>2</sup>
                                    </div>
                                </div>
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Стоимость</div>
                                    <div class="">
                                        от 5.4 млн руб.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flat-type-card">
                        <div class="flat-type-card__icon" style="background-image: url('http://monolit.site/static/images/3room.1f4982964531.png');"></div>
                        <div class="flat-type-card__content">
                            <div class="flat-type-card__title">
                                <a href="">3 комнатные</a>
                            </div>
                            <div class="flat-type-card__info">
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Площадь</div>
                                    <div class="">
                                        от 44.7 до 44.7 м<sup>2</sup>
                                    </div>
                                </div>
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Стоимость</div>
                                    <div class="">
                                        от 5.4 млн руб.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flat-type-card">
                        <div class="flat-type-card__icon" style="background-image: url('http://monolit.site/static/images/4room.6dbbe76812db.png');"></div>
                        <div class="flat-type-card__content">
                            <div class="flat-type-card__title">
                                <a href="">4+ комнатные</a>
                            </div>
                            <div class="flat-type-card__info">
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Площадь</div>
                                    <div class="">
                                        от 44.7 до 44.7 м<sup>2</sup>
                                    </div>
                                </div>
                                <div class="flat-type-card__info--block">
                                    <div class="flat-type-card__info--title">Стоимость</div>
                                    <div class="">
                                        от 5.4 млн руб.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "realty/object_detail-sections/section-building-progress-and-news.html" %}

        {% include "realty/object_detail-sections/section-object-info.html" %}

        {% include "realty/object_detail-sections/section-object-files.html" %}

        {% include "realty/object_detail-sections/section-object-downloads.html" %}

        {% include "realty/object_detail-sections/section-object-genplan.html" %}

        <!-- TODO: map -->
        <div id="section-object-infrastructure">
            <div style="background-color: #CCC; display: block; min-height: 600px; width: 100%;"></div>
        </div>

        <div id="section-object-parking-storages" class="common-section">
            <div id="section-object-parking-storages__inner" class="container">
                <div id="section-object-parking">
                    <div class="section-object__img" style="background-image: url('http://monolit.site/media/2018/03/02/parking-tavr.jpg');">
                        <h3>Паркинг</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quidem repellat aperiam maiores at voluptatibus debitis accusantium esse id rem provident animi nesciunt nobis quis, fugit sequi dignissimos, molestiae molestias.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quidem repellat aperiam maiores at voluptatibus debitis accusantium esse id rem provident animi nesciunt nobis quis, fugit sequi dignissimos, molestiae molestias.</p>
                </div>

                <div id="section-object-storages">
                    <div class="section-object__img" style="background-image: url('https://g5-assets-cld-res.cloudinary.com/image/upload/q_auto,f_auto,fl_lossy/g5/g5-c-iwigg8dp-captains-s-at-your-service-client/g5-cl-1gkabsvbaj-captains-s-at-your-service/uploads/location-hero-2.jpg');">
                        <h3>Кладовки</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quidem repellat aperiam maiores at voluptatibus debitis accusantium esse id rem provident animi nesciunt nobis quis, fugit sequi dignissimos, molestiae molestias.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quidem repellat aperiam maiores at voluptatibus debitis accusantium esse id rem provident animi nesciunt nobis quis, fugit sequi dignissimos, molestiae molestias.</p>
                </div>
            </div>
        </div>

        <section id="section-flat-page-simular-flats" class="common-section">
            <div class="common-section__title container">
                <h2>Спецпредложения в &laquo;Жилом квартале Таврический&raquo;</h2>
            </div>
            <div id="section-flat-page-simular-flats__inner" class="common-section__inner container">
                <div id="flats-simular">
                    <div id="flats-simular__total">5</div>
                    <div id="flats-simular__simular-objects">
                        Спецпредложений<br>
                        по квартирам
                    </div>
                    <div id="flats-simular__see-all">
                        <a href="">
                            <span>Смотреть все</span>
                            <div class="icon icon-arrow-right-green"></div>
                        </a>
                    </div>
                </div>
                <div class="flat-card">
                    <div class="flat-card__header">
                        <div class="flat-card__add-to-favorites">
                            <div class="icon icon-18 icon-heart-contour-green"></div>
                            <div class="flat-card__add-to-favorites--title">В избранное</div>
                        </div>
                        <div class="flat-card__id">ID: 000000676</div>
                    </div>
                    <div class="flat-card__img" style="background-image: url('http://monolit.site/media/realty/flat/layout/80_zq8zw2q.jpg');">
                        <a href=""></a>
                    </div>
                    <div class="flat-card__footer">
                        <div class="flat-card__footer--top">
                            <div class="flat-card__info">
                                <div class="flat-card__heading">Жилой дом</div>
                                <div class="flat-card__object-name">на ул. Балаклавской</div>
                            </div>
                        </div>
                        <div class="flat-card__footer--middle">
                            <div class="flat-card__info">
                                <div class="flat-card__heading">2 комнатная</div>
                                <div class="flat-card__val">
                                    68.1 м<sup>2</sup>
                                </div>
                            </div>
                            <div class="flat-card__info">
                                <div class="flat-card__heading">Этаж</div>
                                <div class="flat-card__val">14/16</div>
                            </div>
                            <div class="flat-card__info">
                                <div class="flat-card__heading">Секция</div>
                                <div class="flat-card__val">1</div>
                            </div>
                        </div>
                        <div class="flat-card__footer--bottom">
                            <div class="flat-card__info">
                                <div class="flat-card__price-total">
                                    <span>5 319 971</span> <small>руб.</small>
                                </div>
                                <div class="flat-card__price-per-meter">
                                    78 120 руб/м<sup>2</sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flat-card">
                    <div class="flat-card__header">
                        <div class="flat-card__add-to-favorites">
                            <div class="icon icon-18 icon-heart-contour-green"></div>
                            <div class="flat-card__add-to-favorites--title">В избранное</div>
                        </div>
                        <div class="flat-card__id">ID: 000000676</div>
                    </div>
                    <div class="flat-card__img" style="background-image: url('http://monolit.site/media/realty/flat/layout/80_zq8zw2q.jpg');">
                        <a href=""></a>
                    </div>
                    <div class="flat-card__footer">
                        <div class="flat-card__footer--top">
                            <div class="flat-card__info">
                                <div class="flat-card__heading">Жилой дом</div>
                                <div class="flat-card__object-name">на ул. Балаклавской</div>
                            </div>
                        </div>
                        <div class="flat-card__footer--middle">
                            <div class="flat-card__info">
                                <div class="flat-card__heading">2 комнатная</div>
                                <div class="flat-card__val">
                                    68.1 м<sup>2</sup>
                                </div>
                            </div>
                            <div class="flat-card__info">
                                <div class="flat-card__heading">Этаж</div>
                                <div class="flat-card__val">14/16</div>
                            </div>
                            <div class="flat-card__info">
                                <div class="flat-card__heading">Секция</div>
                                <div class="flat-card__val">1</div>
                            </div>
                        </div>
                        <div class="flat-card__footer--bottom">
                            <div class="flat-card__info">
                                <div class="flat-card__price-total">
                                    <span>5 319 971</span> <small>руб.</small>
                                </div>
                                <div class="flat-card__price-per-meter">
                                    78 120 руб/м<sup>2</sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flat-card">
                    <div class="flat-card__header">
                        <div class="flat-card__add-to-favorites">
                            <div class="icon icon-18 icon-heart-contour-green"></div>
                            <div class="flat-card__add-to-favorites--title">В избранное</div>
                        </div>
                        <div class="flat-card__id">ID: 000000676</div>
                    </div>
                    <div class="flat-card__img" style="background-image: url('http://monolit.site/media/realty/flat/layout/80_zq8zw2q.jpg');">
                        <a href=""></a>
                    </div>
                    <div class="flat-card__footer">
                        <div class="flat-card__footer--top">
                            <div class="flat-card__info">
                                <div class="flat-card__heading">Жилой дом</div>
                                <div class="flat-card__object-name">на ул. Балаклавской</div>
                            </div>
                        </div>
                        <div class="flat-card__footer--middle">
                            <div class="flat-card__info">
                                <div class="flat-card__heading">2 комнатная</div>
                                <div class="flat-card__val">
                                    68.1 м<sup>2</sup>
                                </div>
                            </div>
                            <div class="flat-card__info">
                                <div class="flat-card__heading">Этаж</div>
                                <div class="flat-card__val">14/16</div>
                            </div>
                            <div class="flat-card__info">
                                <div class="flat-card__heading">Секция</div>
                                <div class="flat-card__val">1</div>
                            </div>
                        </div>
                        <div class="flat-card__footer--bottom">
                            <div class="flat-card__info">
                                <div class="flat-card__price-total">
                                    <span>5 319 971</span> <small>руб.</small>
                                </div>
                                <div class="flat-card__price-per-meter">
                                    78 120 руб/м<sup>2</sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-object-video-and-panoram" class="common-section">
            <div id="section-object-video-and-panoram__inner" class="container">
                <div class="nav nav-pills" id="object-video-and-panoram-pills-tabs" role="tablist">
                    <a class="nav-link active"
                        id="object-video-and-panoram-pills-video-tab"
                        data-toggle="pill"
                        href="#object-video-and-panoram-pills-video"
                        role="tab"
                        aria-controls="object-video-and-panoram-pills-video"
                        aria-selected="true">Видео о комплексе</a>
                    <a class="nav-link"
                        id="object-video-and-panoram-pills-panoram-tab"
                        data-toggle="pill"
                        href="#object-video-and-panoram-pills-panoram"
                        role="tab"
                        aria-controls="object-video-and-panoram-pills-panoram"
                        aria-selected="false">Панорама</a>
                </div>
                <div class="tab-content" id="object-video-and-panoram-pills-tabs-сontent">
                    <div class="tab-pane fade show active"
                        id="object-video-and-panoram-pills-video"
                        role="tabpanel"
                        aria-labelledby="object-video-and-panoram-pills-video-tab">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JbacFR_B-jw" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                        id="object-video-and-panoram-pills-panoram"
                        role="tabpanel"
                        aria-labelledby="object-video-and-panoram-pills-panoram-tab">
                        <iframe class="" src="https://monolit360.com/files/main/index.html?s=pano50" data-src="https://monolit360.com/files/main/index.html?s=pano50" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-flat-page-mortgage" class="common-section">
            <div class="common-section__title container">
                <h2>Ипотека в &laquo;Жилом квартале Таврический&raquo;</h2>
            </div>
            <div class="common-section__inner container">
                <div id="section-flat-page-mortgage__offers">
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="mortgage-offer__best-offer">Лучшее предложение</div>
                            <div class="bank-logo bank-logo__rnkb"></div>
                        </div>
                        <div class="mortgage-offer__descr">
                            Ипотека с государственной поддержкой
                        </div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">6%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 20%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">до 25 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">18700 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rossiya"></div>
                        </div>
                        <div class="mortgage-offer__descr">
                            "Новые метры"
                        </div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 9%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 15%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">3 - 25 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">22400 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rossiya"></div>
                        </div>
                        <div class="mortgage-offer__descr">
                            Военная ипотека
                        </div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 9%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 20%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">1 - 20 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">22400 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rnkb"></div>
                        </div>
                        <div class="mortgage-offer__descr">
                            Военная ипотека
                        </div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 9.5%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 10%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">3 - 20 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">23100 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rnkb"></div>
                        </div>
                        <div class="mortgage-offer__descr">
                            "Новостройка"
                        </div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 9.5%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 10%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">3 - 20 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">23100 руб.</div>
                        </div>
                    </div>
                    <div class="mortgage-offer">
                        <div class="mortgage-offer__bank-logo">
                            <div class="bank-logo bank-logo__rnkb"></div>
                        </div>
                        <div class="mortgage-offer__descr">
                            "Простая ипотека"<br>
                            Только паспорт и СНИЛС
                        </div>
                        <div class="mortgage-offer__loan-rate">
                            <div class="mortgage-offer__title">% ставка</div>
                            <div class="mortgage-offer__val">от 12.5%</div>
                        </div>
                        <div class="mortgage-offer__first-payment">
                            <div class="mortgage-offer__title">Первый взнос</div>
                            <div class="mortgage-offer__val">от 35%</div>
                        </div>
                        <div class="mortgage-offer__pay-off">
                            <div class="mortgage-offer__title">Срок кредита</div>
                            <div class="mortgage-offer__val">3 - 25 лет</div>
                        </div>
                        <div class="mortgage-offer__monthly-payment">
                            <div class="mortgage-offer__title">Ежемесячный платеж</div>
                            <div class="mortgage-offer__val">27300 руб.</div>
                        </div>
                    </div>
                </div>
                <div id="section-flat-page-mortgage__request">
                    <a href="" class="green-button">Оформить заявку на ипотеку</a>
                </div>
            </div>
        </section>

        <section id="section-objects-list" class="common-section">
            <div class="common-section__title container">
                <h2>Другие объекты в продаже</h2>
            </div>
            <div id="section-objects-list__inner" class="container">
                <div class="object-card">
                    <div class="object-card__header">
                        <div class="object-card__img" style="background-image: url('https://i.ibb.co/7tDS78z/856b97582c74edd185d730fafe0c69ef.jpg')"></div>
                        <div class="object-card__header-info">
                            <div class="object-card__living-quarter">Город Крымская Роза</div>
                            <div class="object-card__city">Симферополь</div>
                            <div class="object-card__put-into-operation">Сдан в эксплуатацию</div>
                        </div>
                        <div class="object-card__emerge">
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">1</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">2</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">3</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">4</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">5</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="object-card__main">
                        <div class="object-card__info">
                            <div class="object-card__title">
                                <a href="#">Семейный квартал Лаванда</a>
                            </div>
                            <div class="object-card__flat">
                                <a href="#" class="object-card__flat--count">30 квартир</a>
                                <div class="object-card__flat-types">
                                    <a href="" class="object-card__flat-types-item">1</a>
                                    <a href="" class="object-card__flat-types-item">2</a>
                                    <a href="" class="object-card__flat-types-item">3</a>
                                    <a href="" class="object-card__flat-types-item">4</a>
                                </div>
                            </div>
                        </div>
                        <div class="object-card__features">
                            <div class="object-card__features--block">
                                <div class="object-card__features--name">Площадь</div>
                                <div class="object-card__features--value">от 62.0 до 62.4 м<sup>2</sup></div>
                            </div>
                            <div class="object-card__features--block">
                                <div class="object-card__features--name">Стоимость</div>
                                <div class="object-card__features--value">от 3 402 702 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="object-card__footer">
                        <a href="" class="object-card__footer-btn object-card__footer-btn--green">О комплексе</a>
                        <a href="" class="object-card__footer-btn object-card__footer-btn--dark">Выбрать квартиру</a>
                    </div>
                </div>
                <div class="object-card">
                    <div class="object-card__header">
                        <div class="object-card__img" style="background-image: url('https://i.ibb.co/7tDS78z/856b97582c74edd185d730fafe0c69ef.jpg')"></div>
                        <div class="object-card__header-info">
                            <div class="object-card__living-quarter">Город Крымская Роза</div>
                            <div class="object-card__city">Симферополь</div>
                            <div class="object-card__put-into-operation">Сдан в эксплуатацию</div>
                        </div>
                        <div class="object-card__emerge">
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">1</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">2</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">3</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">4</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">5</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="object-card__main">
                        <div class="object-card__info">
                            <div class="object-card__title">
                                <a href="#">Семейный квартал Лаванда</a>
                            </div>
                            <div class="object-card__flat">
                                <a href="#" class="object-card__flat--count">30 квартир</a>
                                <div class="object-card__flat-types">
                                    <a href="" class="object-card__flat-types-item">1</a>
                                    <a href="" class="object-card__flat-types-item">2</a>
                                    <a href="" class="object-card__flat-types-item">3</a>
                                    <a href="" class="object-card__flat-types-item">4</a>
                                </div>
                            </div>
                        </div>
                        <div class="object-card__features">
                            <div class="object-card__features--block">
                                <div class="object-card__features--name">Площадь</div>
                                <div class="object-card__features--value">от 62.0 до 62.4 м<sup>2</sup></div>
                            </div>
                            <div class="object-card__features--block">
                                <div class="object-card__features--name">Стоимость</div>
                                <div class="object-card__features--value">от 3 402 702 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="object-card__footer">
                        <a href="" class="object-card__footer-btn object-card__footer-btn--green">О комплексе</a>
                        <a href="" class="object-card__footer-btn object-card__footer-btn--dark">Выбрать квартиру</a>
                    </div>
                </div>
                <div class="object-card">
                    <div class="object-card__header">
                        <div class="object-card__img" style="background-image: url('https://i.ibb.co/7tDS78z/856b97582c74edd185d730fafe0c69ef.jpg')"></div>
                        <div class="object-card__header-info">
                            <div class="object-card__living-quarter">Город Крымская Роза</div>
                            <div class="object-card__city">Симферополь</div>
                            <div class="object-card__put-into-operation">Сдан в эксплуатацию</div>
                        </div>
                        <div class="object-card__emerge">
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">1</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">2</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">3</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">4</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">5</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="object-card__main">
                        <div class="object-card__info">
                            <div class="object-card__title">
                                <a href="#">Семейный квартал Лаванда</a>
                            </div>
                            <div class="object-card__flat">
                                <a href="#" class="object-card__flat--count">30 квартир</a>
                                <div class="object-card__flat-types">
                                    <a href="" class="object-card__flat-types-item">1</a>
                                    <a href="" class="object-card__flat-types-item">2</a>
                                    <a href="" class="object-card__flat-types-item">3</a>
                                    <a href="" class="object-card__flat-types-item">4</a>
                                </div>
                            </div>
                        </div>
                        <div class="object-card__features">
                            <div class="object-card__features--block">
                                <div class="object-card__features--name">Площадь</div>
                                <div class="object-card__features--value">от 62.0 до 62.4 м<sup>2</sup></div>
                            </div>
                            <div class="object-card__features--block">
                                <div class="object-card__features--name">Стоимость</div>
                                <div class="object-card__features--value">от 3 402 702 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="object-card__footer">
                        <a href="" class="object-card__footer-btn object-card__footer-btn--green">О комплексе</a>
                        <a href="" class="object-card__footer-btn object-card__footer-btn--dark">Выбрать квартиру</a>
                    </div>
                </div>
                <div class="object-card">
                    <div class="object-card__header">
                        <div class="object-card__img" style="background-image: url('https://i.ibb.co/7tDS78z/856b97582c74edd185d730fafe0c69ef.jpg')"></div>
                        <div class="object-card__header-info">
                            <div class="object-card__living-quarter">Город Крымская Роза</div>
                            <div class="object-card__city">Симферополь</div>
                            <div class="object-card__put-into-operation">Сдан в эксплуатацию</div>
                        </div>
                        <div class="object-card__emerge">
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">1</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">2</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">3</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">4</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                            <div class="object-card__emerge-object">
                                <a href="" class="object-card__emerge-link">
                                    <div class="object-card__flat-types-item">5</div>
                                    <div class="object-card__emerge-title">4 квартиры</div>
                                    <div class="object-card__emerge-area-space">82.2 - 82.6 м<sup>2</sup></div>
                                    <div class="object-card__emerge-arrow"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="object-card__main">
                        <div class="object-card__info">
                            <div class="object-card__title">
                                <a href="#">Семейный квартал Лаванда</a>
                            </div>
                            <div class="object-card__flat">
                                <a href="#" class="object-card__flat--count">30 квартир</a>
                                <div class="object-card__flat-types">
                                    <a href="" class="object-card__flat-types-item">1</a>
                                    <a href="" class="object-card__flat-types-item">2</a>
                                    <a href="" class="object-card__flat-types-item">3</a>
                                    <a href="" class="object-card__flat-types-item">4</a>
                                </div>
                            </div>
                        </div>
                        <div class="object-card__features">
                            <div class="object-card__features--block">
                                <div class="object-card__features--name">Площадь</div>
                                <div class="object-card__features--value">от 62.0 до 62.4 м<sup>2</sup></div>
                            </div>
                            <div class="object-card__features--block">
                                <div class="object-card__features--name">Стоимость</div>
                                <div class="object-card__features--value">от 3 402 702 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="object-card__footer">
                        <a href="" class="object-card__footer-btn object-card__footer-btn--green">О комплексе</a>
                        <a href="" class="object-card__footer-btn object-card__footer-btn--dark">Выбрать квартиру</a>
                    </div>
                </div>
            </div>
            <div id="section-objects-list__see-all">
                <a href="" class="green-button">Посмотреть все объекты</a>
            </div>
        </section>
    </main>
{% endblock %}
