#section-object-video-and-panoram {
    &__inner {
        #object-video-and-panoram-pills-tabs {
            @include media-breakpoint-down(sm) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            @include media-breakpoint-down(xs) {
                grid-template-columns: 1fr;
            }

            &.nav-pills .nav-link.active,
            &.nav-pills .show > .nav-link {
                background-color: #00998f;
                border-radius: 0;
                color: white;
            }

            &.nav-pills .nav-link {
                color: black;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }

        #object-video-and-panoram-pills-tabs-сontent {
            margin-top: 15px;

            #object-video-and-panoram-pills-panoram {
                iframe {
                    width: 100%;
                    min-height: 600px;
                }
            }
        }
    }
}
