#section-vacancies-list {
    .common-section__title {
        flex-direction: column;
        align-items: normal;

        h2 {
            margin-bottom: 10px;
        }
    }

    &__inner {
        .vacancy-card {
            @include media-breakpoint-up(lg) {
                width: 60%;
            }
        }
    }
}
