#section-company-history {
    padding-bottom: 50px;

    &__inner {
        display: grid;
        grid-template-columns: 1fr;

        @include media-breakpoint-only(xl) {
            width: 50%;
        }
        @include media-breakpoint-only(lg) {
            width: 70%;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
}
