#section-company-history {
    padding-bottom: 50px;

    &__inner {
        display: grid;

        @include media-breakpoint-up(lg) {
            // grid-template-columns: repeat(2, 1fr);
            // width: 65%;

            grid-template-columns: 1fr;
            width: 50%;
        }

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr;
        }

        .history-separator {
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }
}
