<div id="header__bottom">
    <div id="header__bottom--inner" class="container">
        <a id="logo" href="/">Строительная Компания Монолит</a>

        <div id="main-navigation-wrap">
            <nav id="main-navigation" class="main-nav" role="navigation">
                <ul class="main-nav__list">
                    {% url 'objects-list' as objects_list %}
                    <li class="main-nav__item{% if objects_list == request.path or objects_list in request.path %} active{% endif %}">
                        <a href="{{ objects_list }}" class="main-nav__link">Объекты</a>
                    </li>

                    {% url 'objects-sites-list' as objects_site_list %}
                    <li class="main-nav__item{% if objects_site_list == request.path or objects_site_list in request.path %} active{% endif %}">
                        <a href="{{ objects_site_list }}" class="main-nav__link">Выбор квартир</a>
                    </li>
                    <li class="main-nav__item has-dropdown">
                        <a href="" class="main-nav__link">Ипотека</a>
                        <div class="dropdown">
                            <ul class="main-nav-submenu__list">
                                {# TODO: active request.path #}
                                <li class="main-nav-submenu__item active">
                                    <a href="" class="main-nav-submenu__link">Военная ипотека</a>
                                </li>
                                <li class="main-nav-submenu__item">
                                    <a href="" class="main-nav-submenu__link">Материнский капитал</a>
                                </li>
                                <li class="main-nav-submenu__item">
                                    <a href="" class="main-nav-submenu__link">КорпорАКТИВ</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="main-nav__item has-dropdown">
                        <a href="" class="main-nav__link">О компании</a>
                        <div class="dropdown">
                            <ul class="main-nav-submenu__list">
                                <li class="main-nav-submenu__item">
                                    <a href="" class="main-nav-submenu__link">Миссия и ценности</a>
                                </li>
                                <li class="main-nav-submenu__item">
                                    <a href="" class="main-nav-submenu__link">Менеджмент</a>
                                </li>
                                <li class="main-nav-submenu__item">
                                    <a href="" class="main-nav-submenu__link">Структура компании</a>
                                </li>
                                <li class="main-nav-submenu__item">
                                    <a href="" class="main-nav-submenu__link">Работа в компании</a>
                                </li>
                                <li class="main-nav-submenu__item">
                                    <a href="" class="main-nav-submenu__link">Социальная ответственность</a>
                                </li>
                                <li class="main-nav-submenu__item">
                                    <a href="" class="main-nav-submenu__link">История</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    {% url 'news-list' as news_list %}
                    <li class="main-nav__item{% if news_list == request.path or news_list in request.path %} active{% endif %}">
                        <a href="{{ news_list }}" class="main-nav__link">Новости</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="" class="main-nav__link">Партнерам</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="" class="main-nav__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div id="main-navigationToggle"></div>
        </div>
        <div id="hb-aside">
            <div id="favories">
                <span class="icon icon-heart-solid-green rounded-34"></span>
                <span class="hb-aside-text">В избранном пока пусто =(</span>
            </div>
            <div id="search-by-id">
                <span class="icon icon-search-green rounded-34"></span>
                <form class="sbi-form" action="" method="post">
                    <input type="search" class="sbi-form__input" name="search-flat-id" id="search-flat-id" placeholder="Поиск по ID">
                </form>
            </div>
        </div>
    </div>
</div>
